.details{
  background:#FAF4ED;
}

.park-summary-box{
  background: rgba(250, 244, 237, 0.6)
}

.background-img{
  border: 0.00001px solid #FAF4ED;
}

.park-summary-box{
  padding: 1em;
  margin: 3em 0;
}

.park-summary{
  text-align: left;
  padding: 0;
  color: #465333;
  font-family: 'League Spartan', sans-serif;
}

.details-header{
  background: #7CA0B0;
  color: #FAF4ED;
  padding: 0.5em;
  font-size: 2em;
  display: flex;
  justify-content: center;
}

.info-box{
  background: rgba(150, 114, 86, 0.5);
  margin: 1em;
  border-radius: 1.5em;
  color: #FAF4ED;
  padding: 1em;
  font-family: 'League Spartan', sans-serif;
}

a{
  background: #465333;
  margin: 1em;
  border-radius: 1.5em;
  color: #FAF4ED;
  text-decoration: none;
  padding: 1em;
  font-family: 'League Spartan', sans-serif;
}